---
import Layout from '../layouts/Layout.astro';
import EpisodeList from '../components/EpisodeList.astro';
import { getAllEpisodes, getShowInfo } from '../lib/rss';
const feed = Astro.url.searchParams.get('feed') || Astro.url.searchParams.get('url') || undefined;
const episodes = await getAllEpisodes(feed);
const show = await getShowInfo(feed);
const title = `${show.title}`;
---

<Layout title={title}>
  <div class="relative z-10 px-8 lg:px-18">
    <h1 class="text-light-text-heading text-4xl font-bold dark:text-white">
      Episodes
    </h1>

    <EpisodeList episodes={episodes} show={show} feed={feed} />
  </div>
</Layout>
